<div class="col-md-6 col-md-offset-3">
  <h1 class="text-center">Log In</h1>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-block btn-social btn-twitter' do %>
        <span class="fa fa-<%= provider %>"></span>Sign in with <%= OmniAuth::Utils.camelize(provider) %>
      <% end %>
      <br />
    <% end -%>
  <% end -%>
</div>