@import 'bootstrap-sprockets';
@import 'bootstrap';

.timeline-image {
  display: inline;

  img {
    width: 5%;
    height: 5%;
  }
}

.timeline-heading {
  display: inline-flex;

  .heading {
    font-weight: bold;
  }

  .subheading {
    color: #777777;
  }
}

ul.list-group {
  span {
    padding-left: inherit;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
    vertical-align: -ms-baseline-middle;
  }
}

.follow {
  h1 {
    display: inline;
  }
  a {
    float: right;
  }
}